# Dependencies
node_modules/

# Production build
dist/

# Vite
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Vercel
.vercel/

# Local development
*.local